<p>comments works!</p>

<div class="comment-section">
    <textarea class="comment-input" placeholder="Write a comment..."></textarea>
    <button class="comment-btn">Post Comment</button>
    
    <div class="comment-list">
      <div class="comment">
        <p><strong>User1:</strong> This is a sample comment.</p>
      </div>
      <div class="comment">
        <p><strong>User2:</strong> Another comment goes here!</p>
      </div>
      <!-- More comments will be dynamically added here -->
    </div>
  </div>
  