  <div class="modal" >
    <div class="modal-content">

      <div class="comment-section">
        <textarea class="comment-input" placeholder="Write a comment..." [(ngModel)]="comment"></textarea>
        <button class="comment-btn" (click)="addComment()">Post Comment</button>
        
        <div class="comment-list">

          <div *ngFor="let comment of comments" class="comment">
            <p><strong>{{comment.username }} : </strong>{{comment.comment}}</p>
            <button pButton type="button" icon="pi pi-trash" label="Delete" (click)="deleteComment(comment.commentId)"></button>
          </div>
          
        </div>
        
      </div>
      <button class="comment-btn" (click)="closeComment()">close</button>
    </div>
  </div>
  
  