<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><button>Home</button></li>
      <li><button routerLink="/search">Explore</button></li>
      <li><button>Messages</button></li>
      <li><button>Notifications</button></li>
      <li><button routerLink="./profile">Profile</button></li>
    </ul>
    <button class="add-post-btn" (click)="togglePostForm()">+ Add Post</button>
  </aside>

  <!-- Main Content -->
  <main class="content">
    <section class="feed">
      <h2>Hey {{userName}} !!</h2>
      <div *ngFor="let post of posts" class="post">
        <div class="post-header">
          <img src= "C:\Users\AnishJadhavINDev\Documents\final project\{{post.imgUrl}}" alt="User Avatar" class="avatar">
          <h3>{{ post.username }}</h3>
        </div>
        <img [src]="post.imgUrl" alt="Post Image" class="post-image">
        <div class="post-footer">
          <p>{{ post.caption }}</p>
          <button (click)="toggleLike(post)" [ngClass]="{'liked': post.like.isLiked}" class="like-button">
            <span *ngIf="post.like.isLiked">👍 Liked</span>
            <span *ngIf="!post.like.isLiked">👍 Like</span>
          </button>
          <span>{{ post.like.count }} Likes</span>
        </div>
      </div>
    </section>
  </main>

  <!-- Suggestions -->
  <aside class="suggestions">
    <h2>Suggested for you</h2>
    <ul>
      <li><button>Suggested User 1</button></li>
      <li><button>Suggested User 2</button></li>
    </ul>
  </aside>
</div>

<!-- Add Post Modal -->
<div class="modal" *ngIf="isPostFormVisible">
  <div class="modal-content">
    <h2>Add a New Post</h2>
    <input type="file" (change)="onChange($event)">
    <input type="text" [(ngModel)]="caption" placeholder="Add a caption">
    <button (click)="addPost()">Submit</button>
    <button class="close-btn" (click)="togglePostForm()">Cancel</button>
  </div>
</div>