
<!-- <button (click)="togglePostForm()">add</button> -->
<div class="post">
   
    <div class="post-header">
      <img src= "C:\Users\AnishJadhavINDev\Documents\final project\{{post.imgUrl}}" alt="User Avatar" class="avatar">
      <h3>{{ post.username }}</h3>
    </div>
    <img [src]="post.imgUrl" alt="Post Image" class="post-image">
    <div class="post-footer">
      <p>{{ post.caption }}</p>
      <!-- <button (click)="toggleLike(post)" [ngClass]="{'liked': post.like.isLiked}" class="like-button">
        <span *ngIf="post.like.isLiked">👍 Liked</span>
        <span *ngIf="!post.like.isLiked">👍 Like</span>
      </button> -->
      <ng-container *ngIf="likvis">
        <button (click)="like(post)" *ngIf="!liked"  class="like-button">like 👍</button>
        <button  (click)="disLike(post)" *ngIf="liked" class="like-button">dislike</button>
      </ng-container>
      

      <span>{{ likeCount }} Like</span>
      <button class="comment-button" (click)="openComments(post.PostId)">💬 {{commentLength }}</button>
      <button *ngIf="deleteVisible"   class="delete-btn" title="Delete User" (click)="deletePost(post.PostId)">🗑️</button> 
    </div>
  </div>

  <app-comments *ngIf="isVisible" (emmitter)="closeComments($event)" [PostId]="PId"  [profileId]="profileId"  [postComment]="likvis"></app-comments>


