<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>My Profile</h2>
        <ul class="menu-list">
            <li><button class="menu-btn" routerLink="/home">Home</button></li>
            <li><button class="menu-btn">Settings</button></li>
            <li><button class="menu-btn">Logout</button></li>
        </ul>
    </aside>
    
    <!-- Profile Content -->
    <main class="content">
        <section class="profile-card">
            <h2>Profile Information</h2>
            
            <div class="profile-item">
                <label>Username:</label>
                <span></span>
            </div>
            
            <div class="profile-item">
                <label>Email:</label>
                <div class="profile-editable">
                    <span></span> 
                    <button class="edit-btn" >Edit</button>
                </div>
            </div>
            
            <div class="profile-item">
                <label>Phone Number:</label>
                <div class="profile-editable">
                    <span></span>
                    <button class="edit-btn">Edit</button>
                </div>
            </div>
            
            <div class="profile-item">
                <label>Bio:</label>
                <div class="profile-editable">
                    <span></span>
                    <button class="edit-btn" >Edit</button>
                </div>
            </div>
            
            <div class="profile-item center">
                <button class="change-password-btn" >Change Password</button>
            </div>
        </section>
    </main>
</div>
