<div class="home-container">
    <aside class="sidebar">
      <h2>Menu</h2>
      <ul>
        <li>Home</li>
        <li>Explore</li>
        <li>Messages</li>
        <li>Notifications</li>
        <li>Profile</li>
      </ul>
    </aside>
    
  <main class="feed">
      <div class="post" *ngFor="let post of posts">
        <div class="post-header">
          <img src='C:\Users\AnishJadhavINDev\Documents\final project\{{post.imgUrl}}' alt="User Avatar" class="avatar">
          <!-- <h3>{{ post.username }}</h3> -->
        </div>
        <img src="post.imgUrl" alt="Post Image" class="post-image">
        <div class="post-footer">
          <p>{{ post.caption }}</p>
        </div>
      </div>
  </main>
  
    <aside class="suggestions">
      <h2>Suggested for you</h2>
      <ul>
        <!-- <li *ngFor="let user of suggestedUsers"> -->
          <li>
          <!-- <img [src]="user.avatar" alt="User Avatar" class="avatar"> -->
          <!-- <span>{{ user.username }}</span> -->
        </li>
      </ul>
    </aside> 

  <form enctype="multipart/form-data">
    <input type="file" (change)="onChange($event)" >
    <input type="text" [(ngModel)]="caption" name="caption" placeholder="add caption" >


    <button (click)="addPost()">add</button>
  </form>
  
  </div>